<!DOCTYPE html>
{% autoescape true %}
<html>
<body>
	{% if selectedblog %}
		<h1>{{selectedblog.blog_name}}</h1>
		<a href="/">Home Page</a>
	{% else %}
		<h1>Home Page</h1>
	{% endif %}
	  
	{% if selectedblog %}
	{% if user==selectedblog.author %}
		<a href="/edit_post?blog_name={{ selectedblog.blog_name }}">New Post</a>
	{% endif %}
		<a href="/blog_gallery?blog_name={{ selectedblog.blog_name }}">Blog Gallery</a>
		<a href="/RSS?blog_name={{selectedblog.blog_name}}">RSS</a>
  {% endif %}

	{% if tags %}
	<p>Tags:
		{% for tag in tags %}
			<a href="/search_tag?tag={{tag}}">{{tag}}</a>
		{% endfor %}
	</p>
	{% endif %}
	<hr>
	
	<h2>Recent Post</h2>
	{% if blogposts %} 
		{% for blogpost in blogposts %}
			<h3>{{ blogpost.title }}</h3>
			<blockquote>
				<h4>Author: <b>{{ blogpost.author.nickname() }}</b> | Blog: <b>{{ blogpost.blog_name }}</b></h4>
				<cite>{{ blogpost.content | truncate(500)| autolink }}</cite>
				<p>Create Time: {{ blogpost.create_time.ctime() }} | <a href="/read_post?keyurl={{blogpost.key.urlsafe()}}">permalink</a></p>
			</blockquote>
		{% endfor %} 
	{% endif %}
	
	{% if cur_url %}
		<a href="/?cursor={{ cur_url  }}&blog_name={{ selectedblog.blog_name }}">Older Post...</a>
	{% endif %}
	<hr>
	
	{% if user %}
	<form action="/switch" method="post">
	<select name="blogoptions">
		<option value="" disabled="disabled" selected="selected">Please	select a blog</option>
		{% for blog in blogs %}
			<option value="{{ blog.blog_name }}"> {{ blog.blog_name }} </option>
		{% endfor %}
	</select>
	<input type="submit" value="Switch Blog"/>
	</form>
	
	<form name="addform" action="/register" method="post">
 		<input name="blog_name">
    <input type="submit" value="Register Another Blog">
  </form>
	{% endif %}
	
	{% if user %}
	Hi! {{user.nickname()}}
	{% else %}
	 Anonymous
	{% endif %}
	<a href="{{ url|safe }}">{{ url_linktext }}</a>
</body>
</html>
{% endautoescape %}
